<% provide(:title, "Sign in") %>
<h1>Sign in</h1>

<aside class="row">
  <div style="margin-top:50px;">
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :login_id %>
      <%= f.text_field :login_id %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
    <% end %>

    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
</aside>